.input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 2px;
  outline: none;
}

.form {
  box-shadow: none;
  background-color: var(--footer-bg);
  border-radius: 2px;
}

.form-heading {
  font-size: 2rem;
}

 
/* .gif-wrapper .gif {
  width: 30rem;
} */

.eye-icon {
  color: var(--primary-color);
  position: absolute;
  top: 1.8rem;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
}

.logout-box .btn-login {
  padding: 0.8rem 2.5rem;
  font-size: 1.4rem;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .gif-wrapper .gif {
    width: 40rem;
    margin-top: -6rem;
  }
}


@media screen and (max-width: 768px) {
  .login-container .gif-wrapper {
    display: none;
  }
}