.nav {
  border-bottom: 1px solid var(--border-color);
}

.nav-icons {
  /* color: var(--white-text); */
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
padding: .3rem;
}

.logo {
  color: var(--primary-color);
}

.searchbar input {
  border: 0.1rem solid var(--border-color);
  color: #f7f7f7;
}

.searchbar input::placeholder {
  color: #f7f7f7;
}

.text-logo-icon {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .mobile-bottom-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 01.5rem;
    overflow: hidden;
    background-color: var(--body-bg);
    border-top: 1px solid var(--border-color);
  }

  .mobile-bottom-icons li {
    margin: 0 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .mobile-bottom-icons .nav-icons {
    color: var(--text-color);
  }

  .mobile-bottom-icons .nav-icons:hover {
    color: var(--primary-color);
  }
}
