/*---Font for headings and paragraph and subtext only----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #1a202c ; */
    background-color: #070f1f;
}

:root {
    --primary-color: #0e72c9;
    --primary-hover: #0662b3;
    --primary-text: #353535f3;
    --secondary-text: #5e6266;
    --footer-bg: #00000015;
    --secondary-bg: #00000015;
    --body-bg: #f7f7f7;
    --white-text: #f7f7f7;
    --box-shadow: 0px 0px 10px 4px #00000015;
    --lite-blue: #E8F0FE;
    --border-color: rgba(0, 0, 0, 0.079);
    --input-bg: rgba(32, 32, 32, 0.081);

    --bg-color: #070f1f;
    --input-color: #292929;
    --secondary-text-color: #909090;
    --text-color: #292929;
}

html {
    font-size: 67%;
}

@media screen and (min-width: 900px) {

    html {
        font-size: 70%;
    }
}

 

/*for components background bg-[#1a202c]  for text color text-[#292929]*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #f7f7f7;

}

/* p {
    color: #323232;
} */

li,
p,
span,
button,
input,
::placeholder,
label,
textarea,
a,
.paragraph {
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    color: var(--primary-hover);
    transition: 0.3s ease-out;
    text-decoration: none;
}


.btn {
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--white-text);

}

.btn:hover {
    background-color: var(--primary-hover);
    transition: 0.3s ease-out;
}

.icons {
    font-size: 1.6rem;
    cursor: pointer;
    
}

.icons:hover {
    color: var(--primary-hover);
}

::placeholder {
    font-size: 1.3rem;
}


.parent-container {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}

.content-wrapper {
    padding: 2rem 1rem;
}

.btn-secondary {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    padding: .5rem 1rem;
}

.btn-secondary:hover {
    color: var(--white-text);
}


/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: #070f1f;
    border: 1px solid #858585;
    font-weight: 800;
  }