/*---Font for headings and paragraph and subtext only----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #0e72c9;
    --primary-hover: #0662b3;
    --primary-text: #353535f3;
    --footer-bg: #00000015;
    --body-bg: #f7f7f7;
    --box-shadow: 0px 0px 10px 4px #00000015;
}

html {
    font-size: 67%;
}

@media screen and (min-width: 900px) {

    html {
        font-size: 70%;
    }
}

body {
    background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

li,
p,
span,
button,
input,
::placeholder,
label,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
}