/*---Font for headings and paragraph and subtext only----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #0e72c9;
    --primary-hover: #0662b3;
    --primary-text: #353535f3;
    --secondary-text: #5e6266;
    --footer-bg: #00000015;
    --secondary-bg: #00000015;
    --body-bg: #f7f7f7;
    --white-text: #f7f7f7;
    --box-shadow: 0px 0px 10px 4px #00000015;
    --lite-blue: #E8F0FE;
    --border-color: rgba(0, 0, 0, 0.079);
    --input-bg: rgba(32, 32, 32, 0.081);
}

html {
    font-size: 67%;
}

@media screen and (min-width: 900px) {

    html {
        font-size: 70%;
    }
}

body {
    background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #323232;

}

p {
    color: #323232;
}

li,
p,
span,
button,
input,
::placeholder,
label,
textarea,
a,
.paragraph {
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    color: var(--primary-hover);
    transition: 0.3s ease-out;
    text-decoration: none;
}


.btn {
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--white-text);

}

.btn:hover {
    background-color: var(--primary-hover);
    transition: 0.3s ease-out;
}

.icons {
    font-size: 1.6rem;
    cursor: pointer;
    color: #323232;;
}

.icons:hover {
    color: var(--primary-hover);
}

::placeholder {
    font-size: 1.3rem;
}


.parent-container {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}

.content-wrapper {
    padding: 2rem 1rem;
}

.btn-secondary {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    padding: .5rem 1rem;
}

.btn-secondary:hover {
    color: var(--white-text);
}